body {
  font-family: Calibri;
  background-color: #4F6D7A;
  color: #E8DAB2;
}

table, th, td {
  border: 2px solid gray;
  border-collapse: collapse;
  border-color: #EAEAEA;
  background-color: #C0D6DF;
  color: black;
  text-align: center;
  margin: auto;
}

th {
  width: 31%;
}

